receivers:
  otlp:
    protocols:
      grpc:
      http:

exporters:
  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true

  debug: {}  # substitui 'logging'

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp, debug]
